<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_viewstart</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
</head>
<body>
    <div>
            @RenderBody()
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
